/vendor/
/node_modules/
/.env
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/public/storage
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
